* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F3FD;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#contact-section {
    padding: 80px 120px;
}

#contact-section h1 {
    font-size: 48px;
    font-weight: bold;
    color: #506CF8;
    margin-bottom: 40px;
}

#contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

#contact-form-container {
    padding: 60px;
    border-radius: 30px;
    background: radial-gradient(circle, #3D93FF 0%, #1678F2 100%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-row {
    display: flex;
    gap: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

label {
    color: #FFFFFF;
    font-size: 16px;
}

input, textarea {
    background-color: #D9D9D9;
    border: none;
    border-radius: 30px;
    padding: 16px 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    color: #4F555A;
}

textarea {
    resize: none;
    height: 160px;
}

input::placeholder, textarea::placeholder {
    color: #FFFFFF;
}

#submit-button {
    display: flex;
    justify-content: center;
}

button {
    min-width: 50%;
    padding: 16px 50px;
    font-size: 18px;
    background-color: #65A8FB;
    border: none;
    border-radius: 30px;
    padding: 14px 40px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
}

#contact-image img {
    max-width: 500px;
    width: 100%;
}